.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }

      .loginButton {
        background-color: rgb(196, 13, 13);
        border: none;
        color: white;
        border-radius: 5px;
        padding: 8px 18px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: white;
    h1 {
      font-size: 50px;
    }
    h2 {
      margin: 20px;
    }
    p {
      font-size: 20px;
    }
    .input {
      width: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      border-radius: 5px;
      margin-top: 15px;

      input {
        flex: 9;
        padding: 0 10px;
        border: none;
        height: 100%;
        font-size: 18px;
      }

      .registerButton {
        flex: 3;
        height: 100%;
        background-color: red;
        color: white;
        font-size: 20px;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 2px;
      }
    }
  }
  .lastLine {
    color: white;
    position: relative;
    top: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    .navigate {
      margin: 0 10px;
      font-size: 18px;
      font-weight: 500;
    }

    .btn-blw {
      margin-left: 30px !important;
      bottom: 20px !important;
    }
  }
}
