.widgetLg {
  flex: 2;
  padding: 20px;
  box-shadow: 0px 5px 20px 2px rgba(228, 220, 220, 0.68);
  margin: 0 30px;
  border-radius: 5px;
}

.widgetLgTitle {
  font-size: 22px;
  font-weight: 600;
}
.widgetLgTable {
  width: 100%;
  border-spacing: 12px;
}

.widgetLgTh {
  text-align: left;
}
.widgetLgUser {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.widgetLgUserImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.widgetLgDate,
.widgetLgAmount {
  font-size: 16px;
  font-weight: 300;
}

.widgetLgButton {
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(241, 238, 238, 0.68);
}

.widgetLgButton.Approved {
  background-color: rgb(219, 250, 187);
  color: rgb(56, 171, 56);
}
.widgetLgButton.Pending {
  background-color: rgb(219, 219, 253);
  color: rgb(49, 96, 162);
}

.widgetLgButton.Declined {
  background-color: rgb(253, 208, 208);
  color: rgb(231, 114, 85);
}
