.home {
  flex: 4;
}

.homeWidgets {
  display: flex;
  margin: 20px;
}

.homeChart {
  margin: 20px 50px;
  padding: 20px;
  box-shadow: 0px 5px 20px 2px rgba(228, 220, 220, 0.68);
  border-radius: 5px;
}
