.topbar {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarwrapper {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 900;
  font-size: 28px;
  color: rgb(5, 82, 110);
  cursor: pointer;
}

.topRight {
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
}

.topbarIconContainer {
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}

.topIconBagde {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  right: 1px;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 500;
}

.topIcon {
  color: rgb(78, 75, 75);
}

.avatarImgTop {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}
