.listItem {
  width: 225px;
  height: 120px;
  background-color: var(--main-color);
  color: white;
  margin-left: 5px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  transition: box-shadow, width 0s;
  img {
    width: 100%;
    height: 100%;
    transition: width, height 0s;
    object-fit: cover;
  }

  video {
    width: 100%;
    height: 140px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    width: 325px;
    height: 300px;
    box-shadow: -1px -1px 17px 1px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: -1px -1px 17px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: -1px -1px 17px 1px rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    position: absolute;
    top: -150px;
    transition: box-shadow, width, position 0.5s ease-out;
    cursor: default;
    img {
      transition: height 0.5s ease-in-out;
      height: 140px;
    }
  }

  .itemInfo {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .icons {
      display: flex;
      margin-bottom: 10px;
      .icon {
        border: 2px solid rgba(255, 255, 255, 1);
        padding: 5px;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 16px;
        cursor: pointer;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
    .itemInfoTop {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 500;
      color: rgb(135, 135, 135);
      .limit {
        padding: 0px 3px;
        border: 1px solid rgb(135, 135, 135);
        margin: 0 10px;
      }
    }
    .desc {
      font-size: 13px;
      margin-bottom: 10px;
    }
    .genre {
      font-size: 15px;
      font-weight: 500;
      color: rgb(255, 132, 132);
    }
  }
}
